<a href = "{{ route }}/" class="web-list-item">
	<div class="col-sm-8 text-left bold">
		{{ doc.subject }}
	</div>
	<div class="col-sm-4">
		<div class="text-muted text-right"
			title="{{ frappe.utils.format_datetime(doc.modified, "medium") }}">
			{{ frappe.utils.pretty_date(doc.modified) }}
		</div>
	</div>
</a>
