@import "../common/css_variables.scss";

// Deprecated but remove after all use is removed as well.
:root {
	--light: #{$light};

	--font-size-xs: #{$font-size-xs};
	--font-size-sm: #{$font-size-sm};
	--font-size-base: #{$font-size-base};
	--font-size-lg: #{$font-size-lg};
	--font-size-xl: #{$font-size-xl};
	--font-size-2xl: #{$font-size-2xl};
	--font-size-3xl: #{$font-size-3xl};
	--font-size-4xl: #{$font-size-4xl};
	--font-size-5xl: #{$font-size-5xl};
	--font-size-6xl: #{$font-size-6xl};

	--card-border-radius: #{$card-border-radius};

	--shadow-base: #{$shadow-base};

	--margin-xs: #{$margin-xs};
	--margin-sm: #{$margin-xs};
	--margin-md: #{$margin-xs};
	--margin-lg: #{$margin-xs};
	--margin-xl: #{$margin-xs};

	--padding-xs: #{$padding-xs};
	--padding-sm: #{$margin-xs};
	--padding-md: #{$margin-md};
	--padding-lg: #{$margin-lg};
	--padding-xl: #{$margin-xl};
	--padding-2xl: #{$margin-2xl};

	--text-light: #{$text-light};
	--text-color: #{$text-color};
	// --control-bg: #{$control-bg};

	// Error colors
	--error-bg: var(--orange-100);
	--error-border: var(--orange-400);
}
