.sidebar-items ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.sidebar-item {
	font-size: 1rem;
	margin: 0px 1rem;
	text-align: center;
}

.sidebar-item a {
	display: flex;
	padding: 0.25em 0.5em;
	border-radius: var(--border-radius);

	text-decoration: none;

	font-weight: 600;
	@include transition();

	color: var(--sidebar-fg);

	&:hover,
	&.active {
		color: var(--sidebar-bg);
		background-color: var(--sidebar-fg);

		.icon {
			--icon-stroke: currentColor;
		}
	}

	.icon {
		margin: 0 1rem 0 0;
		--icon-stroke: var(--light);
	}
}

.sidebar-item-icon {
	width: 24px;
	height: 24px;
	display: inline-block;
}

.sidebar-group {
	margin-bottom: 1rem;

	h6 {
		font-size: $font-size-sm;
		margin-bottom: 0.75rem;
		line-height: 1.5;
	}

	> ul {
		padding-left: 0.5rem;
		margin-bottom: 2rem;
	}
}
