$breadcrumb-bg: transparent !default;
$navbar-bg: white !default;
$primary: hsl(210, 100%, 30%) !default;
$light: change-color(adjust-color($primary, $hue: -5), $lightness: 90%) !default;
$dark: change-color(
	adjust-color($primary, $hue: -10, $saturation: -20%),
	$lightness: 10%
) !default;
$sidebar-bg: change-color(
	adjust-color($primary, $hue: +5),
	$saturation: 60%,
	$lightness: 20%
) !default;
$sidebar-light: change-color(adjust-color($primary, $hue: -5), $lightness: 90%) !default;
$sidebar-dark: change-color(
	adjust-color($primary, $hue: -10, $saturation: -20%),
	$lightness: 10%
) !default;

@import "../espresso/colors";
@import "../espresso/typography";
@import "../espresso/shadows";
@import "../espresso/spacing";
@import "../espresso/borders";

$body-color: $gray-700 !default;
$text-muted: $gray-600 !default;
$border-color: $gray-300 !default;
$headings-color: $gray-900 !default;
$breadcrumb-bg: transparent !default;
$navbar-bg: white !default;
$navbar-height: 48px;

$container-max-widths: (
	sm: 540px,
	md: 840px,
	lg: 1090px,
	xl: 1290px,
);

$font-sizes: (
	"xs": 0.75rem,
	"sm": 0.875rem,
	"base": 1rem,
	"lg": 1.125rem,
	"xl": 1.25rem,
	"2xl": 1.5rem,
	"3xl": 1.875rem,
	"4xl": 2.25rem,
	"5xl": 3rem,
	"6xl": 4rem,
);

@each $size, $value in $font-sizes {
	.font-size-#{$size} {
		font-size: $value;
	}
}

$border-radius: var(--border-radius);
$border-radius-sm: var(--border-radius-sm);
$border-radius-lg: var(--border-radius-lg);

$font-size-xs: 0.75rem !default;
$font-size-sm: 0.875rem !default;
$font-size-base: 1rem !default;
$font-size-lg: 1.125rem !default;
$font-size-xl: 1.25rem !default;
$font-size-2xl: 1.5rem !default;
$font-size-3xl: 1.875rem !default;
$font-size-4xl: 2.5rem !default;
$font-size-5xl: 3rem !default;
$font-size-6xl: 4rem !default;

$btn-padding-y-lg: 1rem !default;
$btn-padding-x-lg: 2.5rem !default;
$btn-font-size-lg: 1.125rem !default;
$btn-line-height-lg: 1 !default;
$btn-border-radius-lg: 0.5rem !default;
$btn-border-radius: 0.375rem !default;
$btn-font-size: $font-size-sm !default;
$btn-padding-x: 1rem !default;
$btn-padding-y: 0.5rem !default;
$btn-font-weight: 500 !default;

$navbar-nav-link-padding-x: 1rem !default;
$navbar-padding-y: 1rem !default;
$card-border-radius: 0.75rem !default;
$card-spacer-y: 0.5rem !default;

$dropdown-font-size: $font-size-sm !default;
$dropdown-border-radius: 0.375rem !default;
$dropdown-item-padding-y: 0.5rem !default;
$dropdown-item-padding-x: 0.5rem !default;

$input-bg: $gray-100;
$input-focus-bg: $gray-200;
$input-focus-box-shadow: none;
$input-border-color: $gray-100;
$input-focus-border-color: $gray-200;
$input-border-radius: 0.375rem;
$custom-control-indicator-bg: white;

$body-bg: var(--gray-100, white) !default;
$body-color: var(--gray-800, black) !default;
$text-muted: var(--gray-600, grey) !default;

$border-radius-xs: 4px !default;
$border-radius: 6px !default;
$border-radius-md: 8px !default;
$border-radius-lg: 10px !default;
$border-radius-xl: 12px !default;

$border-color: $gray-100 !default;
$border-opacity: 1 !default;
$card-shadow: 0 1px 3px 0 #e6ebf1 !default;
$shadow-inset: #e2e6e9 !default;
$shadow-base: 0px 4px 8px rgba(25, 39, 52, 0.06), 0px 0px 4px rgba(25, 39, 52, 0.12) !default;
$card-bg: white !default;

$padding-xs: 5px !default;
$padding-sm: 8px !default;
$padding-md: 15px !default;
$padding-lg: 20px !default;
$padding-xl: 30px !default;
$padding-2xl: 40px !default;

$margin-xs: 5px !default;
$margin-sm: 8px !default;
$margin-md: 15px !default;
$margin-lg: 20px !default;
$margin-xl: 30px !default;
$margin-2xl: 40px !default;

$text-muted: $gray-600 !default;
$text-light: $gray-700 !default;
$text-color: $gray-900 !default;
$heading-color: $gray-900 !default;
$control-bg: white !default;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	2xl: 1440px,
) !default;

$spacers: (
	0: 0,
	1: 0.25rem,
	2: 0.5rem,
	3: 0.75rem,
	4: 1rem,
	5: 1.25rem,
	6: 1.5rem,
	8: 2rem,
	10: 2.5rem,
	12: 3rem,
	14: 3.5rem,
	16: 4rem,
	18: 4.5rem,
	20: 5rem,
	22: 5.5rem,
	24: 6rem,
	28: 7rem,
	32: 8rem,
	36: 9rem,
	40: 10rem,
	44: 11rem,
	48: 12rem,
	52: 13rem,
	56: 14rem,
	64: 16rem,
);

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "css_variables";

$code-color: $purple;
