.breadcrumb {
	padding-left: 0;
	padding-right: 0;
	background-color: white;
	@include get_textstyle("sm", "regular");
}

/*! This comment will be included even in compressed mode. */
#navbar-breadcrumbs {
	margin-left: var(--margin-md);
	@include get_textstyle("base", "regular");
	a {
		margin-right: 5px;
		&:before {
			content: #{"/*!rtl:var(--left-arrow-svg);*/"}var(--right-arrow-svg);
			display: inline-block;
			margin-right: 5px;
		}
	}

	li.disabled {
		a {
			color: var(--text-muted);
			pointer-events: none;
		}
	}
}
