{% extends base_template_path %}
{% block hero %}{% endblock %}

{% block content %}

{% macro main_content() %}
<div class="page-content-wrapper">
	<!-- breadcrumbs -->
	<div class="page-breadcrumbs">
		{% block breadcrumbs %}
			{% include 'templates/includes/breadcrumbs.html' %}
		{% endblock %}
	</div>

	{% block page_container %}
	<main class="{% if not full_width %}container my-4{% endif %}">
		<div class="page-header-wrapper">
			<div class="page-header">
				{% block header %}{% endblock %}
			</div>

			{% if self.header_actions() %}
			<div class="page-header-actions-block">
				{% block header_actions %}{% endblock %}
			</div>
			{% endif %}
		</div>

		<div class="page_content">
			{%- block page_content -%}{%- endblock -%}
		</div>

		<div class="page-footer">
			{%- block page_footer -%}{%- endblock -%}
		</div>
	</main>
	{% endblock %}
</div>
{% endmacro %}

{% macro container_attributes() -%}
id="page-{{ name or route | e }}" data-path="{{ pathname | e }}"
{%- if page_or_generator=="Generator" %}source-type="Generator" data-doctype="{{ doctype }}"{%- endif %}
{%- if source_content_type %}source-content-type="{{ source_content_type }}"{%- endif %}
{%- endmacro %}

{% macro user_pill() %}
	{% if frappe.session.user != 'Guest' %}
	<div class="dropdown logged-in sidebar-login-container" style="display: none">
		{% set full_name = frappe.db.get_value("User", frappe.session.user, "full_name") %}
		<button class="btn btn-lg btn-default sidebar-user-pill" data-toggle="dropdown">
			<span class="user-image-wrapper"><!-- JS --></span>
			<span class="sidebar-user-pill__fullname ellipsis">
				{{ full_name }}
			</span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right" role="menu">
			{%- for child in post_login -%}
			{%- if child.url -%}
			<a class="dropdown-item" href="{{ child.url | abs_url }}" {% if child.open_in_new_tab %} target="_blank" {% endif %} rel="nofollow">
				{{ child.label }}
			</a>
			{%- endif -%}
			{%- endfor -%}
			<a class="dropdown-item switch-to-desk hidden" href="/app">{{ _('Switch To Desk') }}</a>
		</ul>
	</div>
	{% elif not hide_login %}
	<div class="sidebar-login-container">
		<a class="btn-login-area" href="/login">{{ _("Login") }}</a>
	</div>
	{% endif %}
{% endmacro %}

{% macro sidebar() %}
<aside class="sidebar-column floating-column-sidebar {{ 'sidebar-right' if sidebar_right else 'sidebar-left' }}">
	<a class="navbar-brand" href="{{ url_prefix }}{{ home_page or "/" }}">
		{%- if brand_html -%}
			{{ brand_html }}
		{%- elif banner_image -%}
			<img src='{{ banner_image }}'>
		{%- else -%}
			<span>{{ (frappe.get_hooks("brand_html") or [_("Home")])[0] }}</span>
		{%- endif -%}
	</a>

	{% block page_sidebar %}
	{% include "templates/includes/web_sidebar.html" %}
	{% endblock %}

	{{ user_pill() }}
</aside>
{% endmacro %}

{% if show_sidebar %}
{{ sidebar() }}
<style>
	:root {
		--web-sidebar-width: 300px;
	}
	body > nav,
	body > main,
	body > .main-column,
	body > footer {
		margin-left: var(--web-sidebar-width) !important;
	}
</style>
{% endif %}

<div class="main-column" {{ container_attributes() }}>
	{{ main_content() }}
</div>

{% endblock %}
