<nav class="navbar navbar-expand-lg">
	<div class="container">
		<ul class="ml-auto navbar-nav">
		{%- for index in ['1', '2', '3', '4', '5'] -%}
			{%- set label = navbar_template_values['navitem_' + index + '_label'] -%}
			{%- set url = navbar_template_values['navitem_' + index + '_url'] -%}
			{%- if label -%}
			<li class="nav-item">
				<a class="nav-link" href="{{ url or '#' }}" target="_blank">
					{{ _(label) }}
				</a>
			</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</nav>
{% include "templates/includes/navbar/navbar.html" %}