@media print {
	@import "calendar-base.print";
}

.fc {
	font-size: 1em;

	.fc-toolbar.fc-header-toolbar {
		font-size: 1em;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 4px;
	}

	.fc-timegrid-axis-cushion {
		font-size: 0.8em;
	}

	th.fc-col-header-cell.fc-day {
		text-align: right;
		padding: 4px 12px 4px 0;
		text-transform: uppercase;
		font-size: 0.8em;
	}

	.fc-button,
	.fc-button .fc-icon {
		height: auto;
		font-size: 0.8em;
		outline: none;
		line-height: inherit;
	}

	.fc-button-active {
		text-decoration: underline !important;
	}

	.fc-event {
		cursor: pointer;
	}

	.fc-toolbar-title {
		display: inline-block;
		vertical-align: middle;
		padding: 0 1rem;

		@media (min-width: 992px) {
			min-width: 300px;
			// max-width: 75%;
			text-align: center;
		}
	}

	.fc-timegrid-divider {
		padding: 0;
	}

	.fc-timegrid-slot-label-cushion {
		background-color: var(--fc-page-bg-color);
	}

	tbody > tr:first-child > td .fc-timegrid-slot-label-cushion {
		display: none;
	}

	.fc-timegrid-slot-label-frame {
		text-align: left;
		display: block;
		position: relative;
		top: -12px;
	}

	@media (max-width: 991px) {
		.fc-toolbar.fc-header-toolbar,
		.fc-toolbar-title {
			font-size: 1em;
		}
	}

	.fc-now-indicator {
		border-color: var(--primary) !important;
	}

	.fc-now-indicator-arrow {
		display: none !important;
	}

	.fc-today-button:disabled,
	.fc-today-button:not(:hover) {
		.icon {
			--icon-stroke: var(--text-color);
		}
	}

	.fc-toolbar-chunk:empty {
		display: none;
	}

	a:not([href]) {
		color: inherit;
		text-decoration: none !important;
	}

	.fc-day-other .fc-daygrid-day-top {
		opacity: 0.8;
	}
}

.fc.resource-calendar {
	min-height: 500px;

	.fc-event {
		&:not(.fc-bg-event) {
			box-shadow: var(--shadow-base);
			transition: 0.3s;
			border-radius: 5px;
			height: 45px;
		}

		.fc-event-title {
			padding: 0px;
		}

		.fc-event-main:first-child {
			line-height: 1em;
		}
	}

	.fc-bg-event {
		opacity: 1;

		.fc-event-title {
			overflow: hidden;
		}
	}

	.fc-timeline-event {
		overflow: hidden;
	}

	.fc-timeline-event-harness {
		margin: 4px;
		min-height: 50px;
	}

	.fc-background-event {
		margin: 4px;
		border-radius: 5px;
		font-weight: 600;
	}

	.fc-stripped-event {
		margin: 2px;
		border-radius: 5px;
		font-weight: 600;
		background-color: #fff;
		border: 1px dashed var(--blue-800);
		.fc-event-main {
			color: var(--blue-800);
		}
	}

	.fc-gray-stripped {
		background: repeating-linear-gradient(
			45deg,
			var(--gray-200),
			var(--gray-200) 10px,
			var(--gray-400) 10px,
			var(--gray-400) 20px
		);
	}

	.fc-yellow-stripped {
		background: repeating-linear-gradient(
			45deg,
			var(--yellow-200),
			var(--yellow-200) 10px,
			var(--yellow-400) 10px,
			var(--yellow-400) 20px
		);
		color: #ffff;
	}

	.fc-orange-stripped {
		background: repeating-linear-gradient(
			45deg,
			var(--orange-200),
			var(--orange-200) 10px,
			var(--orange-400) 10px,
			var(--orange-400) 20px
		);
	}

	.fc-green-stripped {
		background: repeating-linear-gradient(
			45deg,
			var(--green-200),
			var(--green-200) 10px,
			var(--green-400) 10px,
			var(--green-400) 20px
		);
		color: #ffff;
	}

	.fc-red-stripped {
		background: repeating-linear-gradient(
			45deg,
			var(--red-200),
			var(--red-200) 10px,
			var(--red-400) 10px,
			var(--red-400) 20px
		);
	}

	.fc-pacific-blue-stripped {
		background: repeating-linear-gradient(
			45deg,
			var(--pacific-blue-200),
			var(--pacific-blue-200) 10px,
			var(--pacific-blue-400) 10px,
			var(--pacific-blue-400) 20px
		);
		color: #ffff;
	}

	.fc-green-bg {
		background-color: var(--green-300);
	}

	.fc-dark-green-bg {
		background-color: var(--green-600);
	}

	.fc-orange-bg {
		background-color: var(--orange-200);
	}

	.fc-dark-orange-bg {
		background-color: var(--orange-500);
	}

	.fc-pacific-blue-bg {
		background-color: var(--pacific-blue-200);
	}

	.fc-gray-bg {
		background-color: var(--gray-200);
	}

	.fc-blue-bg {
		background-color: var(--blue-400);
	}

	.fc-gray {
		color: var(--gray-400);
	}

	.fc-blue {
		color: var(--blue-400);
	}

	.fc-green {
		color: var(--green-400);
	}

	.fc-red {
		color: var(--red-400);
	}

	.fc-resource-group.fc-cell-shaded > div {
		background-color: var(--bg-color);
		color: var(--text-color);
	}
}

:root {
	--fc-page-bg-color: var(--bg-color);
	--fc-neutral-text-color: var(--text-muted);
	--fc-button-bg-color: var(--fg-color);
	--fc-button-text-color: var(--text-color);
	--fc-button-border-color: var(--gray-500);
	--fc-button-active-bg-color: var(--bg-blue);
	--fc-button-active-border-color: var(--text-on-blue);
	--fc-button-hover-bg-color: var(--bg-color);
	--fc-button-hover-border-color: var(--text-color);
}
