$available-tints: "red"; // separated by space

[data-tinted="#{$available-tints}"] {
	--tinted-fg: var(--alert-text-danger);
	--tinted-bg: var(--alert-bg-danger);
}

html body [data-tinted~="#{$available-tints}"] {
	// specificity override

	--primary: var(--tinted-fg);
	--primary-color: var(--tinted-fg);
	--btn-primary: var(--tinted-fg);
	--text-secondary-color: var(--tinted-fg);
	--heading-color: var(--tinted-fg);

	// --modal-bg: var(--tinted-bg);
	// --awesomplete-hover-bg: var(--tinted-bg);

	// Button Colors
	--control-bg: var(--tinted-bg);
	--btn-default-bg: var(--tinted-bg);
	// --btn-default-hover-bg: var(--gray-300);

	// --shadow-inset: inset 0px -1px 0px var(--tinted-fg);
	// --border-color: var(--tinted-bg);
	// --dark-border-color: var(--tinted-fg);
	// --table-border-color: var(--tinted-bg);
}

html[data-theme="dark"] body [data-tinted~="#{$available-tints}"] {
	--btn-primary: var(--tinted-bg);
}
