{% extends "templates/web.html" %}

{% block header %}
<h1 itemprop="headline" class="mt-3">{{ title }}</h1>
{% endblock %}

{% block page_content %}
<article itemscope itemtype="http://schema.org/BlogPosting">
	<div>
		<h6 class='text-muted'>{{ _("By {0} on {1}").format(author, frappe.format_date(creation)) }}</h6>
		<span class="indicator-pill {{ level_class }}">{{ _(level) }}</span>
	</div>

	<div class="from-markdown my-4" itemprop="articleBody">
		{{ content }}
	</div>


	<p class="more-articles-section">
		<a href="/{{ category.route }}" class='text-muted small font-italic'>
			➮ {{ _("More articles on {0}").format(category.name) }}
		</a>
	</p>
</article>
<div class="help-article-feedback my-6">
	<div class="feedback-view ">
		<div class="text-muted small mr-2 mb-2">{{ _("Was this article helpful ?") }}</div>
		<button class="feedback btn btn-outline-primary btn-sm" data-value="Yes" style="width: 50px;">{{ _("Yes")
			}}</button>
		<button class="feedback btn btn-outline-primary btn-sm" data-value="No" style="width: 50px;">{{ _("No")
			}}</button>
		<span class="feedback-msg small hidden">{{ _("Thank you for your feedback!") }}</span>
	</div>
</div>
<div class="help-article-comments">
	<hr />
	<div>
		<h5>{{ _("Comments") }}</h5>
		{% include 'templates/includes/comments/comments.html' %}
	</div>
</div>


{% endblock %}

{% block script %}
<script>
	frappe.ready(function () {
		frappe.set_search_path("/kb");
		$(".feedback").click(function () {
			let args = {
				article: "{{ reference_name or name }}",
				helpful: this.getAttribute("data-value"),
			}

			frappe.call({
				btn: this,
				method: "frappe.website.doctype.help_article.help_article.add_feedback",
				args: args,
				callback: function (r) {
					$(".feedback")[0].classList.add("hidden");
					$(".feedback")[1].classList.add("hidden");
					$(".feedback-msg")[0].classList.remove("hidden");
				}
			})
		});
	});
</script>
{% endblock %}